html , body , .container-fluid{
	height:100%;
	/*text-align: center;*/
}
.row1,.row2,.row3,.row4{
	border: solid 1px;
}
.row1{height:10%;}
.row2,.row4{
	height:10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.row3{
	/*height: 70%;*/
	height: inherit;
}
/*row1************************************ */
.row1 .logo{height:100%;}
.row1 img{
	width:100%;
	height:100%;
}
.menu{}
.setup{

}


/*row2 ********************************************** */
.row2 img{
    width: 16vw;
    height: 16vw;
}



/*row3**************************************/
.left,.right{
	display:block;
	float:none;
	/*height: inherit;*/
	/*height:50%;*/
	/*background-color:#CDDEDB;*/

}
.left{
	border-bottom:dotted 1px;
}
.Configuration{
	border:dotted 1px #DCD1D1;
	border-radius:5px;
}
.Configuration form{
	border: solid 1px;
    width: 80%;
    padding: 5px 5px;
    border-radius:5px;
}
/*row4***********************************/






@media (min-width:768px) {
	.container-fluid{max-width:992px;}
	.row1{height:15%;}
	.row2{height:20%;}
	.row3{height:initial;}
	.row4{height:10%;}
	.left,.right{
		height:100%;
		float:left;
		/*width: 50%;*/
	}
	.left{
		border:none;
		border-right:dotted 1px;
	}
	.row2 img{width: 180px;height: 180px;}
	.refresh{
		padding: 25px 20px;
	    font-size: 40px;
	}

}